.toggle-container {
  display: flex;
  border: 2px solid #09ff00;
  border-radius: 50px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 150px;
}
 
.toggle-button {
  /* flex: 1; */
  padding: 10px 20px;
  /* border: none; */
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
/*
.toggle-button.active {
  background: linear-gradient(to right, #007bff, #0056b3);
  color: white;
}
   */