.toggle-container {
  display: flex;
  border: 2px solid #09ff00;
  border-radius: 50px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 150px;
}
 
.toggle-button {
  padding: 10px 20px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-button.active {
  background-color: #09ff00;
  color: black;
}